<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>KarpNetwork</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
        .ach-title {
            text-align: center;
        }
        .well {
            align-content: center;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> <%= user.local.username %>'s Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well" id="well-container">
                <h2 class="ach-title"><strong>Stats</strong>:</h2>
                <h3><strong>Wins</strong>:<br> <%= user.local.wins %></h3>
                <h3><strong>Achievements</strong>:<br> <%= user.local.ach %></h3><br>
                <h3 class="ach-title"><strong>Achievements</strong>:</h3><br>
            </div>
        </div>
        


    </div>

</div>

<script type="text/javascript">
    var achs = ['<h3 class="ach-title"><strong>Alpha Tester!</strong></h3><br><h4 class="ach-title">Mythic</h4><div class="item" style="min-height: 159px;"><blockquote><div class="row"><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3 text-center"><img alt="Alpha Tester" class="img-circle" src="https://cdn-cms.f-static.com/uploads/1403174/400_5b7b28c1661d9.png"></div><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-9"><p>You joined the MCBR server while it was in alpha!</p></div></div></blockquote></div></div><!-- Carousel Buttons Next/Prev --></div> </div>' , '<div class="col-xs-12"><h3 class="ach-title"><strong>Beta Tester!</strong></h3><br><h4 class="ach-title">Freebie</h4><div data-ride="carousel" class="carousel slide"><!-- Bottom Carousel Indicators --><ol class="carousel-indicators"><li data-slide-to="0" class="active"></li><li data-slide-to="1" class=""></li></ol><!-- Carousel Slides / Quotes --><div class="carousel-inner"><div class="item active" style="min-height: 159px;"><blockquote><div class="row"><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3 text-center"><img alt="Beta Tester" class="img-circle" src="https://cdn-cms.f-static.com/uploads/1403174/400_5b7b26015f00d.png"></div><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-9"><p>You joined the MCBR server while it was in beta!</p></small></div></div></blockquote></div>', '<div class="item active" style="min-height: 97px;"><blockquote><h3 class="ach-title"><strong>u found mah secret</strong></h3><br><h4 class="ach-title">Medium</h4><div class="row"><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3 text-center"><img alt="" class="img-circle" src="https://cdn-cms.f-static.com/uploads/1403174/400_5b7dc9f02bc61.jpg"></div><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-9"><p>You the secret easter egg hidden in the lobby!</p></div></div></blockquote></div>', '<h3 class="ach-title"><div class="carousel-inner"><div class="item active" style="min-height: 97px;"><blockquote><div class="row"><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3 text-center"><img alt="" class="img-circle" src="https://cdn-cms.f-static.com/uploads/1403174/400_5b7dc9f02bc61.jpg"></div><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-9"><p>You the secret easter egg hidden in the lobby!</p></div></div></blockquote></div></div>'];
    var achlist = [<%= user.local.achs%>];
    for (var i = 0; i < achlist.length; i++) {
        if (achlist[i] !== undefined || null) {
            document.getElementById("well-container").innerHTML = document.getElementById("well-container").innerHTML + achs[achlist[i]];
        }
    }
</script>
</body>
</html>