<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>KarpNetwork</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> <%= user.local.username %>'s Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well" id="well-container">
                <h3><strong>Wins</strong>:<br> <%= user.local.wins %></h3>
                <h3><strong>Achievements</strong>:<br> <%= user.local.ach %></h3><br>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
	if (<%= user.local.achs[0]%> == 1) {
		var x = '<section id="section-5b7a9cbc277ad" class="s123-module s123-module-testimonials layout-1"> <div data-aos="fade-up" class="container-fluid page_header_style page_header_style_ aos-init aos-animate"><div class="row"><div class="container"><div class="row modulesTitle"><div class="col-xs-12 text-center"> <h2 id="section-5b7a9cbc277ad-title" class="s123-page-header">Achievements</h2> <hr class="small"> <h4 id="section-5b7a9cbc277ad-slogan"></h4> </div> </div> </div> </div> </div> <div class="previewManageButton" style="display: flex;"></div> <div class="container aos-init aos-animate" data-aos="fade-up"> <div class="row"> <div class="col-xs-12"><div data-ride="carousel" class="carousel slide"><!-- Bottom Carousel Indicators --><ol class="carousel-indicators"><li data-slide-to="0" class="active"></li><li data-slide-to="1" class=""></li></ol><!-- Carousel Slides / Quotes --><div class="carousel-inner"><div class="item active" style="min-height: 159px;"><blockquote><div class="row"><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3 text-center"><img alt="Beta Tester" class="img-circle" src="https://cdn-cms.f-static.com/uploads/1403174/400_5b7b26015f00d.png"></div><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-9"><p>You joined the MCBR server while it was in beta!</p><small><strong>Beta Tester:&nbsp;</strong><span>Freebie</span></small></div></div></blockquote></div><div class="item" style="min-height: 159px;"><blockquote><div class="row"><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-3 text-center"><img alt="Alpha Tester" class="img-circle" src="https://cdn-cms.f-static.com/uploads/1403174/400_5b7b28c1661d9.png"></div><div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-9"><p>You joined the MCBR server while it was in alpha!</p><small><strong>Alpha Tester:&nbsp;</strong><span>Freebie</span></small></div></div></blockquote></div></div><!-- Carousel Buttons Next/Prev --></div> </div></div></div></section>';
		document.getElementById("well-container").innerHTML = document.getElementById("well-container").innerHTML + x;
	}
</script>
</body>
</html>